* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #ebebef;
}

@media screen and (min-width: 992px) {
  .container {
    min-width: 960px;
    width: 69%;
    margin: 0 auto;
  }

  .header {
    max-height: 64px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 2;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      padding: 22px 10px;
      max-height: 64px;
      transition: .3s all;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      position: relative;
      overflow: hidden;
      color: black;

      &:hover:not(.logo):before {
        width: 100%;
      }

      &:not(.logo):before {
        content: '';
        height: 8px;
        width: 0;
        left: 50%;
        bottom: -3px;
        transform: translateX(-50%);
        background-color: #002fa6;
        border-radius: 30px;
        position: absolute;
        transition: .3s all;
      }

      &.active {
        &:before {
          width: 100%;
        }
      }

      &.logo {
        padding: 0;
        background-image: url("/src/images/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 48px;
        height: 48px;
        transition: .3s all;

        &:hover {
          transform: scale(1.1);
        }

      }

      &:visited {
        color: black;
      }
    }
    &-navigation {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &__btn {
      width: 24px;
      height: 24px;
      background-image: url("/src/images/login.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transition: .3s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 64px);
    background-color: #ebebef;
    padding-bottom: 80px;


    .container {
      width: 38%;
      display: grid;
      gap: 16px;
      padding-top: 40px;

      &.index {
        position: relative;
        grid-template-columns: 56% 44%;

        .projects {
          max-height: calc(100vh - 104px);
          overflow: auto;
          position: sticky;
          right: 0;
          top: 104px;
        }
      }

      &.project {
        grid-template-columns: 31% 69%;

        .projects {
          padding-top: 25px;
        }

        .project-panel {
          position: sticky;
          height: fit-content;
          top: 104px;
          left: 0;
        }
      }

      &.event {
        padding-top: 12px;
      }
    }

    &.event-create {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      gap: 30px;
    }

    &.login {
      .login {
        &-btns {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;
        }
        &__btn {
          border-radius: 10px;
          font-size: 14px;
          padding: 10px;
          text-align: center;
          background-color: #282d39;
          transition: .3s all;
          color: white;

          &.register {
            grid-column: 1/3;
            margin-top: 15px;
          }

          &:hover {
            opacity: .8;
            cursor: pointer;
          }
        }
      }

      .reset {
        width: 100%;
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        text-align: center;
        color: #fff;
        background-color: #002fa6;
        transition: .3s all;

        &:hover {
          opacity: .5;
        }
      }

      .pass_reset {
        border-radius: 10px;
        font-size: 14px;
        padding: 10px;
        text-align: center;
        background-color: #e0e0e0;
        transition: .3s all;
        color: black;

        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }

      .register__link {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        color: black;
        transition: .3s all;

        &:hover{
          opacity: .7;
        }

        &:visited {
          color: black;
        }

        &:active {
          color: black;
        }
      }
      .form {
        background-color: inherit;

        &__radio {
          display: flex;
          flex-wrap: wrap;
          h3 {
            width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
            line-height: 130%;
          }
        }
      }
    }
  }

  .project-params {
    background: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    margin-top: 50px;
    align-items: center;

    &.container {
      padding: 20px;
    }

    .project {
      &__action {
        height: 36px;
        min-width: 64px;
        padding: 0 16px;
        color: #002fa6;
        border: 1px solid #002fa6;
        font-size: .875rem;
        border-radius: 28px;
        cursor: pointer;
        transition: .3s all;
        text-transform: uppercase;

        &:hover {
          opacity: .7;
        }
      }

      &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }




      .tag {
        margin: 0;
      }
      &__user {
        display: flex;
        max-width: 550px;
        overflow: hidden;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;

        .user-name {
          font-weight: 400;
          font-size: 16px;
          line-height: 1em;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__desc {
        max-width: 550px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__img {
        max-width: 100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .project-passport {
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .passport-header {
      font-size: 1.17em;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .passport__block {
      display: flex;
      flex-direction: column;
      padding-bottom: 32px;
      border-bottom: 1px solid #eaeaea;

      .block__title {
        margin-bottom: 5px;
        font-size: 16px;
      }

      .block__desc {
        margin-bottom: 16px;
      }

      .block__value {
        padding: 12px 24px;
        border: 1px solid #9e9e9e;
        border-radius: 10px;
        resize: horizontal;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .project__info {
    display: grid;
    grid-template-columns: 64% 36%;
    position: relative;
    margin-top: 40px;

    &.create {
      grid-template-columns: none;
    }

    &.container {
      padding-top: 0;
    }

    .project {
      &__news {
        .news-header {
          border-radius: 10px;
          width: 100%;
          background-color: white;
          padding: 16px;
          font-weight: 500;
          font-size: 1.25rem;
          margin-bottom: 15px;
        }

        .nothing {
          padding: 20px;
          text-align: center;
        }
      }

      &-setting {
        background-color: white;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .setting-header {
          font-size: 1.25rem;
          font-weight: 500;
          letter-spacing: .0125em;
          margin-bottom: 10px;
        }

        .setting__block {
          border: 1px solid #9e9e9e;
          border-radius: 4px;
          position: relative;
          padding: 12px 24px;

          .block__title {
            position: absolute;
            left: 9px;
            top: -10px;
            padding: 2px 4px;
            background-color: white;
            color: rgba(0, 0, 0, 0.6);
            font-size: 12px;
          }
        }
      }


      &__menu {
        display: grid;
        height: fit-content;
        background-color: white;
        border-radius: 20px;
        right: 0;
        top: 94px;
        position: sticky;

        .menu__item {
          display: flex;

          .item__link {
            font-family: Roboto,sans-serif;
            font-weight: 500;
            padding: 10px 20px;
            color: #002fa6;
            cursor: pointer;
            transition: .3s all;
            width: 100%;
            display: flex;


            .count {
              background-color: #002fa6;
              color: white;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              display: flex;
             justify-content: center;
              align-items: center;
              font-size: 12px;
              margin-left: 10px;
            }

            &:hover {
              background-color: #fafafa;;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      &-members {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .member {
          background-color: white;
          padding: 10px;
          min-height: 370px;
          border-radius: 20px;
          box-shadow: 1px 1px 8px 0 rgba(34,60,80,.2);
          display: flex;
          flex-direction: column;

          .role {
            margin-bottom: 8px;
            background-color: #002fa6;
            color: white;
            font-size: 12px;
            width: fit-content;
            line-height: 130%;
            border-radius: 12px;
            padding: 5px 10px;
          }

          &__avatar {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 70px;
            margin: 0 auto;
          }

          &__name {
            font-weight: 400;
            font-size: 20px;
            margin-top: 20px;
          }

          &__info {
            margin-top: 8px;
            font-size: 15px;
            font-weight: 200;
            color: rgba(0,0,0,.87);
          }
        }
      }
    }
  }

  .news {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;

    .slider {
      display: flex;
      flex: 1 1 auto;
      position: relative;

      img {
        width: 50%;
        object-fit: cover;
        max-height: 300px;
      }
    }

    .icon {
      display: block;
      width: 16px;
      height: 16px;
      background-size: cover;
    }

    .next-slide {
      position: absolute;
      background-image: url("/src/images/next-slide.svg");
      filter: invert(1);
      width: 25px;
      height: 25px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      transition: .3s all;

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }

    &-header {
      padding: 10px 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      width: 36%;
      color: black;
      padding: 4px 6px;
      background-color: #e0e0e0;
      border-radius: 16px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: .3s all;

      &:hover {
        background-color: #d8d8d8;
      }

      .title-content {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        max-width: 150px;
      }

      .avatar {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 6px;
      }

      &:visited {
        color: black;
      }
    }

    &-post {
      width: 100%;
      background-color: white;
      border-radius: 20px;
      box-shadow: -2px 2px 4px -2px rgba(34,60,80,.1);

      &.user {
        .news-header {
          display: grid;
          align-items: center;
          gap: 8px;
          grid-template-columns: 30px 1fr;
          width: fit-content;
          cursor: pointer;
        }

        .slider {
          display: inherit;
          img {
            width: 100%;
            max-height: 300px;
          }
        }

        .user-name {
          width: fit-content;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
        }

        .news-time {
          font-size: 12px;
          font-weight: 300;
          line-height: 130%;
          width: fit-content;
        }

        .avatar {
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
    }

    &-content {
      padding: 0 20px;
      line-height: 130%;
      color: rgba(0,0,0,.87);
      display: flex;
      flex-direction: column;
      font-size: 16px;
      margin-bottom: 10px;

      .content__btn {
        cursor: pointer;
        color: #1976d2;
        transition: .3s all;
        font-size: 16px;
        margin-top: 2px;
        width: fit-content;

        &:hover {
          opacity: .5;
        }
      }
    }

    .news-time {
      color: rgba(0,0,0,.87);
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      line-height: 130%;
      display: flex;
      align-items: center;
    }

    &-footer {
      display: flex;
      padding: 14px 25px;



      button:enabled.footer-content {
        cursor: pointer;

        &.comment {
          color: #1976d2;
          &:hover {
            background-color: #ecf3fb;
          }
        }
        &.like {
          color: hotpink;
          &:hover {
            background-color: pink;
          }
        }
      }

      .footer-content {
        display: flex;
        align-items: center;
        transition: .3s all;
        padding: 8px 16px;
        border-radius: 28px;

        .count {
          margin-right: 8px;
          font-size: 15px;
          line-height: 130%;
        }
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
      font-size: 20px;
      font-weight: 400;
      line-height: 130%;
    }

    &__tag {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 4px;
    }

    &__massage {
      display: flex;
      flex-direction: column;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      margin-right: 10px;
      color: rgba(0,0,0,.87);
      line-height: 1.5;

      .massage__list {
        counter-reset: section;

        .list__item {
          &:before {
            counter-increment: section;
            content:  counter(section) '.';
          }
        }
      }
    }

    .members {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      margin-top: 16px;

      &__list {
        display: flex;
        gap: 10px;
      }
    }



    .users {
      display: flex;
      margin: 8px 0;

      .user {
        margin-right: 8px;
        position: relative;

        &:hover {
          .user-name {
            transform: scale(1);
          }
        }

        .avatar {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }

        .user-name {
          position: absolute;
          transition: .3s all;
          transform: scale(0);
          left: -150%;
          top: 100%;
          pointer-events: none;
          white-space: nowrap;
          border-radius: 5px;
          color: white;
          background-color: rgba(0,0,0, 0.4);
          padding: 5px 10px;
          width: fit-content;
        }
      }
    }

    &-post {
      background-color: #fafafa;
      border-radius: 20px;
      color: black;
      box-shadow: 0 1px 10px rgba(20,28,37,.1);
    }

    &-content {
      background-color: white;
      padding: 10px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    &__footer {
      padding: 10px;
      max-height: 60px;
      height: 100%;
      display: grid;
      align-items: center;
      gap: 8px;
      grid-template-columns: 30px 1fr;
      width: fit-content;
      cursor: pointer;

      .user-name {
        width: fit-content;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
      }

      .news-time {
        font-size: 12px;
        font-weight: 300;
        line-height: 130%;
        width: fit-content;
      }

      .avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
  }

  .create {
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    margin-bottom: 16px;

    &__btn {
      background-color: #4caf50;
      width: 100%;
      height: 100%;
      color: white;
      border-radius: 10px;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 200%;
      text-align: center;
    }
  }

  .form {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    &__label {
      font-size: 16px;
      font-weight: bold;
      line-height: 130%;

      &__checkbox {
        font-size: 16px;
        min-height: 8px;
        line-height: 130%;
        color: rgba(0,0,0,.6);
        margin-top: 15px;
        cursor: pointer;
      }
    }

    &__input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin-top: 5px;
      border: 1px solid #eaeaea;
      background-color: #fefefe;
      font-size: 16px;

      &__checkbox {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: none;
      }
    }

    .minmax {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      column-gap: 10px;
      row-gap: 5px;
      align-items: center;

      &__header {
        font-size: 16px;
        font-weight: bold;
        line-height: 130%;
        grid-column: 1/4;
      }
    }

    &__submit {
      font-size: 16px;
      background-color: #002fa6;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
    }

    &__select {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin-top: 5px;
      border: 1px solid #eaeaea;
      background-color: #fefefe;
      font-size: 16px;
    }
  }

  .event {
    &__header {
      display: flex;
    }
    &__label {

      &.left {
        div {
          border-right: none;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      &.right {
        div {
          border-left: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      div {
        width: fit-content;
        height: fit-content;
        padding: 11px 10px;
        background-color: white;
        color: black;
        border: 1px solid #c6def1;
        cursor: pointer;
        font-size: 14px;
      }
      input {
        display: none;
      }

      input:checked + div {
        background-color: #002fa6;
        color: white;
      }
    }
    &__link {
      border-radius: 10px;
      font-size: 14px;
      padding: 10px;
      background-color: #002fa6;
      color: white;
      margin-left: auto;
      text-align: center;
      line-height: 150%;
    }

    &-create__form {
      background-color: #fafafa;
      border-radius: 20px;
      height: fit-content;

      .form {
        border-radius: 0 0 20px 20px;
        &__radio {
          display: flex;
        }

        &__submit {
          display: flex;
          justify-content: center;
        }

        &__textarea {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          margin-top: 5px;
          border: 1px solid #eaeaea;
          background-color: #fefefe;
          font-size: 16px;
          resize: vertical;

          &:focus-visible {
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }
      }
      h2 {
        padding: 26px;
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    &__list {
      display: flex;

      .list__item {
        &.nothing {
          width: 100%;
          padding: 19px 50px;
          border: 1px solid #fb8c00;
          font-size: 16px;
          line-height: 150%;
          color: #fb8c00;
          border-radius: 6px;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 10px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #efd2b0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }

          &:before {
            position: absolute;
            left: 3%;
            top: 50%;
            transform: translateY(-50%);
            content: '!';
            font-size: 25px;
          }
        }
      }
    }
  }

  .view {
    &__header {
      font-size: 16px;
      color: rgba(0,0,0,.87);
    }
  }

  .tag {
    margin-right: 5px;
    font-size: 10px;
    width: fit-content;
    color: white;
    border: 1px solid;
    padding: 1px 12px;
    line-height: 130%;
    border-radius: 16px;
    position: relative;
  }
}

.avatar {
  border-radius: 50%;
  background-size: contain;
  background-position: center;
}

.watch {
  .icon {
    background-image: url("/src/images/watch.svg");
  }
}

.like {
  .icon {
    background-image: url("/src/images/like.svg");
  }
}

.comment {
  .icon {
    background-image: url("../src/images/comment.svg");
  }
}